{% extends "layout.html" %}

{% block title %}
    Add Specimen
{% endblock %}

{% block main %}
<h1>{% if id %}Edit{% else %}Add{% endif %} Specimen</h1>
<div class="row">
  

  <div class="col">

    <div class="container-lg">
      <div class="form-group text-end form-horizontal">
        <form action={% if id %}"/edit"{% else %}"add"{% endif %} method="post">  
            <input class="form-control mb-2" id="title" name="title" placeholder="Title" type="text" {% if id and row['title'] %}value="{{ row['title'] }}"{% endif %}>
            <input autofocus class="form-control mb-2" id="number" name="number" placeholder="Number (optional)" type="text" {% if id and row['my_id'] %}value="{{ row['my_id'] }}"{% endif %}>
            <input class="form-control mb-2" id="locality" name="locality" placeholder="Locality" type="text" {% if id and row['locality'] %}value="{{ row['locality'] }}"{% endif %}>
            <div class="row mb-2">
              <div class="col text-start">Date:</div>
              <div class="col">
                <input class="form-control" id="day" name="day" placeholder="Day" type="text" {% if id and row['day'] %}value="{{ row['day'] }}"{% endif %}>
              </div>
              <div class="col">
              <input class="form-control" id="month" name="month" placeholder="Month" type="text" {% if id and row['month'] %}value="{{ row['month'] }}"{% endif %}>
              </div>
              <div class="col">
              <input class="form-control" id="year" name="year" placeholder="Year" type="text" {% if id and row['year'] %}value="{{ row['year'] }}"{% endif %}>
              </div>
              
            </div>
            <input class="form-control mb-2" id="tags" name="tags" placeholder="Tags (comma separated)" type="text" {% if id and row['tags'] %}value="{% for tag in row['tags'] %}{{ tag['tag'] }},{% endfor %}"{% endif %}>
            
            <textarea class="form-control mb-2" id="notes" name="notes" placeholder="Notes" rows="4">{% if id and row['notes'] %}{{ row['notes'] }}{% endif %}</textarea>
            
            <input type="hidden" id="hiddenminerals" name="minerals" {% if id and row['minerals'] %}value="{% for min in row['minerals'] %}{{ min['name'] }},{% endfor %}"{% endif %}>
            <input type="hidden" id="hiddenimages" name="hiddenimages" {% if id and row['images'] %}value="{% for img in row['images'] %}{{ img['file'] }},{% endfor %}"{% endif %}>
            <input type="hidden" id="specimen_id" name="specimen_id" {% if id %}value="{{ id }}"{% endif %}>
            
            <button class="btn btn-primary mt-5" type="submit">{% if id %}Submit{% else %}Add{% endif %}</button>
        </form>
      </div>
    </div>
  </div>



  <div class="col">  
    <div class="container-md">
      <h4>Minerals</h4>
      <div class="mb-4" id="listholder">
        <!-- List minerals -->
        <ul id="ulminerals" class="list-group">
        </ul>
      </div>

      

      <!-- Magic search -->
      <div>
            <input type="text" id="mininput" name="minerals" class="form-control mb-4" autocomplete="off" placeholder="Add minerals">
            <!-- List matching minerals-->
            <div id="present" class="list-group mb-4"></div>
            
      </div>  
      
      <script src="static/add.js"></script> 
        
      
    </div>  
    

    <div class="container-md">
        
        <h3>Images</h3>
        <div id="uploadfile">
          Javascript required.
        </div>
 
        <div class="mb-4" id="thumbholder"></div>
        <div class="mb-4 text-muted size90 togglevis" id="togglevis">Click image to delete.</div>
           
        
        
        <script src="static/upload.js"></script> 
    </div>



  </div><!-- end col -->

  
</div>

  
{% endblock %}


