{% extends "layout.html" %}

{% block title %}
    Table 
{% endblock %}

{% block main %}

<div class="container-fluid text-center">
  {% if heading %}
  <h1>{{ heading }}</h1>
  {% endif %}


    <div class="container-fluid">
        <div class="row row-cols-1  row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">

        {% for row in rows %}    
        <div class="col">
            <div class="card">
                <div class="card-body text-start size90">
                  <h5 class="card-title">{{ row['title'] }}</h5>
                  
                  <div>
                    {{ row['thumb']['file'] | asthumbright | safe }}
                  </div>

                  <div class="card-text mb-2">{{ row['my_id'] | addnr }}</div>
                  
                  {% for min in row['minerals'] %}
                  <div class="card-text">{{ min['name'] }}</div>
                  {% endfor %}

                  <div class="card-text">{{ row['locality'] }}</div>
                  {% if row['day'] or row['month'] or row['year'] %}
                  <div class="card-text text-muted">{{ row['day'] | date2 }}-{{ row['month'] | date2 }}-{{ row['year'] | date4}}</div>
                  {% endif %}

                  {% for tag in row['tags'] %}
                    {{ tag['tag'] | taglink | safe }},
                  {% endfor %}
                  
                  <div class="card-text mt-1">
                  <button type="button" class="btn btn-outline-secondary  btn-sm" mt-1 btn-sm" onclick="window.location.href='view?id={{ row['id'] }}';">View</button>
                  <button type="button" class="btn btn-outline-secondary  btn-sm" onclick="window.location.href='edit?id={{ row['id'] }}';">Edit</button>
                  </div>

                  </form>
                </div>
              </div>
        </div>
        {% endfor %}

     
  
</div>
{% endblock %}

<!--

  <div class="col-md-3">
                <img src="static/100.png" class="img-fluid rounded" alt="...">
              </div>

-->