{% extends "layout.html" %}

{% block title %}
    Table 
{% endblock %}

{% block main %}

<div class="container-fluid text-center">
  {% if heading %}
  <h1>{{ heading }}</h1>
  {% endif %}


    <div class="container-fluid">
        <div class="row row-cols-1  row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">

        {% for row in rows %}    
        <div class="col">
            <div class="card">
                <div class="card-body text-start size90">
                  <h5 class="card-title">{{ row['title'] }}</h5>
                  <div class="card-text">{{ row['my_id'] }}</div>
                  <div class="card-text">Min</div>
                  <div class="card-text">Min</div>
                  <div class="card-text">{{ row['location'] }}</div>
                  {% if row['day'] or row['month'] or row['year'] %}
                  <div class="card-text text-muted">{{ row['day'] | date2 }}-{{ row['month'] | date2 }}-{{ row['year'] | date4}}</div>
                  {% endif %}

                  <a href="#" class="btn btn-outline-primary btn-sm mt-1">View</a>
                </div>
              </div>
        </div>
        {% endfor %}

     
  
</div>
{% endblock %}

<!--

  <div class="col-md-3">
                <img src="static/100.png" class="img-fluid rounded" alt="...">
              </div>

-->