{% extends "layout.html" %}

{% block title %}
    Table 
{% endblock %}

{% block main %}

<div class="container-fluid py-4 text-center">

    <div class="card-group">
        {% for row in rows %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-3">
                <img src="static/100.png" class="img-fluid rounded" alt="...">
              </div>
              <div class="col-md-4">
                <div class="card-body text-start card-smaller">
                    <h5 class="card-title">{{ row['title'] }}</h5>
                    <p class="card-text">{{ row['my_id'] }}</p>
                    <p class="card-text">Minerals</p>
                    <p class="card-text">Minerals</p>
                    <p class="card-text">Minerals</p>
                    <p class="card-text">{{ row['location'] }}</p>
                    <p class="card-text">{{ row['date'] }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
