{% extends "layout.html" %}

{% block title %}
    Table 
{% endblock %}

{% block main %}




<div class="container-fluid">
    <div class="text-start card-smaller">
        <button type="button" class="btn btn-outline-secondary" onclick="checkAll()">Select all</button>
        <button type="button" class="btn btn-outline-secondary" onclick="uncheckAll()">Clear</button>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
        </button>
        

        
    </div>


    <table class="table table-striped size90 table-sm" id="mytable">
        <thead>
            <tr>
                <th></th>
                <th class="text-start" onclick="sortTable(1)" id="IDColumn">ID<img src="static/sort-solid.svg" width="10px" height="10px"></th>
                <th class="text-start" onclick="sortTable(2)">Title<img src="static/sort-solid.svg" width="10px" height="10px"></th>
                <th class="text-start" onclick="sortTable(3)">Number<img src="static/sort-solid.svg" width="10px" height="10px"></th>
                <th class="text-start" onclick="sortTable(4)">Minerals<img src="static/sort-solid.svg" width="10px" height="10px"></th>
                <th class="text-start" onclick="sortTable(5)">Locality<img src="static/sort-solid.svg" width="10px" height="10px"></th>
                <th class="text-start" onclick="sortTable(6)">Date<img src="static/sort-solid.svg" width="10px" height="10px"></th>
                <th class="text-start" onclick="sortTable(7)">Tags<img src="static/sort-solid.svg" width="10px" height="10px"></th>
                <th class="text-start">Notes</th>
                
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for row in rows %}
            <tr id="tr{{ row['id'] }}">
                
                <td>
                    
                        <input type="checkbox" class="form-check-input mycheckboxes" name="checkboxes" value="{{ row['id'] }}">
                   
                </td>
                
                <td class="text-start">{{ row['id'] }}</td>
                <td class="text-start">{{ row['title'] }}</td>
                <td class="text-start">{{ row['my_id'] }}</td>
                <td class="text-start">
                    {% for min in row['minerals'] %}
                    {{ min['name'] | minlink | safe }},
                    {% endfor %}
                </td>
                <td class="text-start">{{ row['locality'] | shortnotes }}</td>
                <td class="text-start">{{ row['year'] | date4}}-{{ row['month'] | date2 }}-{{ row['day'] | date2 }}</td>
                <td class="text-start">
                    {% for tag in row['tags'] %}
                    {{ tag['tag'] | taglink | safe }},
                    {% endfor %}
                </td>
                <td class="text-start">{{ row['notes'] | shortnotes }}</td>

                <td>
                    {% for th in row['thumb'] %}
                    {{ th['file'] | minithumb | safe }}
                    {% endfor %}
                </td>
                
                <td>
                    <form action="/view">
                        <input name="id" type="hidden" value="{{ row['id'] }}">
                        <input type="submit" value="View">
                    </form>
                </td>
                <td>
                    <form action="/edit">
                        <input name="id" type="hidden" value="{{ row['id'] }}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <script src="static/tableaction.js"></script>
</div>

<!-- Boostrap Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete specimen</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this specimen from the database?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="deleteselected()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->

  

{% endblock %}
