{% extends "layout.html" %}

{% block title %}
    Table 
{% endblock %}

{% block main %}




<div class="container-fluid">
    <div class="text-start card-smaller">
        <button type="button" class="btn btn-outline-secondary" onclick="checkAll()">Select all</button>
        <button type="button" class="btn btn-outline-secondary" onclick="uncheckAll()">Clear</button>
        <!-- Delete Button triggers bootstrap dialogue (modal) -->
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
        Delete
        </button>

        <script type="text/javascript">
            function checkAll(){
                let cbs = document.querySelectorAll('.mycheckboxes');
                for (const cb of cbs){
                    cb.checked = true;
                }
            }
    
            function uncheckAll(){
                let cbs = document.querySelectorAll('.mycheckboxes');
                for (const cb of cbs){
                    cb.checked = false;
                }
            }

            

        </script>  
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Select</th>
                <th class="text-start">Number</th>
                <th class="text-start">Title</th>
                <th class="text-start">Minerals</th>
                <th class="text-start">Locality</th>
                <th class="text-end">Date</th>
                <th class="text-start">Tags</th>
                <th class="text-start">Storage</th>
                
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for row in rows %}
            <tr>
                <td>
                    <div><!-- TODO -->{{ row['id'] }} / {{ row['user_id']}}
                        <input type="checkbox" class="form-check-input mycheckboxes" name="checkboxes" value="{{ row['id'] }}">
                    </div>
                </td>

                <td class="text-start">{{ row['my_id'] }}</td>
                <td class="text-start">{{ row['title'] }}</td>
                <td class="text-start">
                    {% for min in row['minerals'] %}
                    {{ min['name'] }},
                    {% endfor %}
                </td>
                <td class="text-start">{{ row['locality']  }}</td>
                <td class="text-end">{{ row['day'] | date2 }}-{{ row['month'] | date2 }}-{{ row['year'] | date4}}</td>
                <td class="text-start">
                    {% for tag in row['tags'] %}
                    {{ tag['tag'] | taglink | safe }},
                    {% endfor %}
                </td>
                <td class="text-start">{{ row['storage'] }}</td>
                
                <td>
                    <form action="/view">
                        <input name="id" type="hidden" value="{{ row['id'] }}">
                        <input type="submit" value="View">
                    </form>
                </td>
                <td>
                    <form action="/edit">
                        <input name="id" type="hidden" value="{{ row['id'] }}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete specimen</h5>
          </div>
        <div class="modal-body">
          Are you sure you want to delete these specimen?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
          
        </div>
      </div>
    </div>
  </div>

  <!-- end modal -->
  

{% endblock %}
