{% extends "layout.html" %}

{% block title %}
    Try 
{% endblock %}

{% block main %}

<div class="container-fluid py-4 text-start">

    <input id="mininput" autocomplete="off" autofocus placeholder="Query" type="text">
    <ul id="present"></ul>

    <script>
        let input = document.getElementById('mininput');
        input.addEventListener('input', async function() {
            let response = await fetch('/mineralsearch?q=' + input.value);
            let searchresult = await response.json();
            let html = '';
            for (let id in searchresult) {
                let title = searchresult[id].name;
                html += '<li>' + title + '</li>';
            }
            
            console.log(html);
            document.getElementById("present").innerHTML = html;
        });
    </script>
               
</div>


{% endblock %}
