{% extends "layout.html" %}

{% block title %}
    {{ row['title'] }} 
{% endblock %}

{% block main %}

<div class="container-lg text-start">

    <h2>{{ row['title'] }}</h2>
    <div class="h4">{{ row['my_id'] }}</div>

    
    {% for min in row['minerals'] %}
    <div class="mb-3">
        <div class="h5">{{ min['name'] }}</div>
        <div class="size90">{{ min['chemistry'] | safe }}</div>
        <div class="text-muted size90">{{ min['crystal_system'] }}</div>
    </div>
    {% endfor %}
   

    <div>{{ row['locality'] }}</div>
    <div class="mb-3">Date: {{ row['day'] | date2 }}-{{ row['month'] | date2 }}-{{ row['year'] | date4}}</div>
    <div class="mb-3">
        {% for tag in row['tags'] %}
                    {{ tag['tag'] }},
        {% endfor %}
    </div>
    <div>{{ row['storage'] }}</div>

    <div class="mt-5">
    <form action="/delete" method="post">
        <input name="id" type="hidden" value="{{ row.id }}">
        <input class="btn btn-outline-danger" type="submit" value="Delete">
    </form>
    </div>
               
</div>


{% endblock %}
