{% extends "layout.html" %}

{% block title %}
    {{ row['title'] }} 
{% endblock %}

{% block main %}

<div class="container-fluid">

    <h2>{{ row['title'] }}</h2>
    <div class="h6">ID {{ row['id'] }} {{ row['my_id'] | addnr }}</div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 justify-content-center mb-3">   
    {% for min in row['minerals'] %}
    <div class="col">
        <div class="card">
            <div class="card-body text-start size90">
              <h6 class="card-title">{{ min['name'] | minlink | safe }}</h6>
              <div class="card-text mb-2">{{ min['chemistry'] | safe }}</div>
              {% if min['fleischer'] %}<div class="text-muted size90">Fleischers group: {{ min['fleischer'] }}</div>{% endif %}
              <div class="text-muted size90">{{ min['crystal_system'] }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
   

    <div>{{ row['locality'] }}</div>
    {% if row['day'] or row['month'] or row['year'] %}
    <div class="mb-3">Date: {{ row['day'] | date2 }}-{{ row['month'] | date2 }}-{{ row['year'] | date4}}</div>
    {% endif %}
    <div class="mb-3">
        {% for tag in row['tags'] %}
                    {{ tag['tag'] | taglink | safe }},
        {% endfor %}
    </div>
    <div class="container-sm size90">{{ row['notes'] }}</div>

 

    

    {% for img in row['images'] %}
    <div>
    {{ img['file'] | asimg | safe }}
    </div>
    {% endfor %}
          
 
    <div class="container-sm mt-5">
    <div class="row justify-content-center">
        <div class="col-sm text-end">
            <button type="button" class="btn btn-outline-primary" onclick="window.location.href='edit?id={{ row['id'] }}';">Edit</button>
        </div>
        <div class="col-sm text-start">
        <form action="/delete" method="post">
            <input name="id" type="hidden" value="{{ row.id }}">
            <input class="btn btn-outline-danger" type="submit" value="Delete">
        </form>
        </div>
    </div>
    </div>
               
</div>


{% endblock %}
